<?xml version="1.0" encoding="utf-8"?>
<root _id="0">
<!--	说明：当要获得特定选择器下面的选择器文本时候，请在后面加上::text-->
<!--	<variables _id="4f231904-bb9d-11e1-9cc6-a0510b3d46fd">-->
<!--		<variable _id="4f231905-bb9d-11ea-9af9-a0510b3d46fd" name="keyWord" values="['6da47eb6']" notes="['涤纶']"/>-->
<!--		<variable _id="4f231905-bb9d-112a-9af9-a0510b3d46fd" name="fileName" values="['涤纶']" notes="['文件名称']"/>-->
<!--	</variables>-->
<!--	http://search.zhaoshang100.com/scp-%E5%90%8A%E8%A3%85%E5%B8%A6/2-->
	<spiders>
<!--		当要执行的时候，在exec中添加True。其他任意字符串都不会执行-->
		<website exec="True" webName="顺企网" start_url="['https://b2b.11467.com/search/-6da47eb6-pn1.htm','https://b2b.11467.com/search/-540a88c55e26-pn1.htm','https://b2b.11467.com/search/-7ec75e26-pn1.htm','https://b2b.11467.com/search/-5ba072695e26-pn1.htm']" allowed_domains="11467.com">
			<rules _id="3f080e19-97e4-11ea-943b-a0510b3d46fd">
<!--				[\d+]+-->
<!--				涤纶-->
				<rule _id="3f080e1a-97e4-11ea-a2ea-a0510b3d46fd" follow="True" allow=".*//b2b\.11467\.com/search/-6da47eb6-pn\d+\.htm" dont_filter='True'/>
<!--				吊装带-->
				<rule _id="3f080e1a-97e4-11ea-a3ea-a0510b3d46fd" follow="True" allow=".*//b2b\.11467\.com/search/-540a88c55e26-pn\d+\.htm"/>
<!--				织带-->
				<rule _id="3f080e12-97e4-11ea-a3ea-a0510b3d46fd" follow="True" allow=".*//b2b\.11467\.com/search/-7ec75e26-pn\d+\.htm"/>
<!--				宠物带-->
				<rule _id="3f080e12-97e4-11ea-a3ea-a0510b3d46fd" follow="True" allow=".*//b2b\.11467\.com/search/-5ba072695e26-pn\d+\.htm"/>
				<rule _id="3f080e1b-97e4-11ea-8bee-a0510b3d46fd" follow="False" allow="(.+(www.11467.com)/\w+/)(co/)?\d+(\.htm)$" callback="parse_item"/>
			</rules>
			<dataCatch _id="3f080e1c-97e4-11ea-ae6f-a0510b3d46fd" testUrl="https://www.11467.com/jinan/co/159221.htm">
				<data _id="3f080e1d-97e4-11ea-9f22-a0510b3d46fd" name="公司名" select="#logoco &gt; h1 &gt; span" refererUrl=""/>
				<data _id="3f080e1e-97e4-11ea-80cc-a0510b3d46fd" name="地址" select="#contact &gt; div &gt; dl &gt; dd:nth-child(2)" refererUrl=""/>
				<data _id="3f080e1f-97e4-11ea-9e15-a0510b3d46fd" name="电话" select="#contact &gt; div &gt; dl &gt; dd:nth-child(4)" refererUrl=""/>
				<data _id="3f080e20-97e4-11ea-9d23-a0510b3d46fd" name="产品" select="#gongshang &gt; div &gt; table &gt;  tr:nth-child(2) &gt; td:nth-child(2)" refererUrl=""/>
				<data _id="3f080e21-97e4-11ea-8c3b-a0510b3d46fd" name="客户" select="#contact &gt; div &gt; dl &gt; dd:nth-child(6)" refererUrl=""/>
				<data _id="3f080e22-97e4-11ea-8573-a0510b3d46fd" name="手机" select="#contact &gt; div &gt; dl &gt; dd:nth-child(8)" refererUrl=""/>
				<data _id="3f080e23-97e4-11ea-909c-a0510b3d46fd" name="网址" select="" refererUrl=""/>
				<data _id="3f080e25-97e4-11ea-b005-a0510b3d46fd" name="邮箱" select="#contact &gt; div &gt; dl &gt; dd:nth-child(10)" refererUrl=""/>
				<data _id="3f083488-97e4-11ea-8f75-a0510b3d46fd" name="经营状况" select="#gongshang  tr:nth-child(8) &gt; td:nth-child(2)" refererUrl=""/>
				<data _id="3f083489-97e4-11ea-a683-a0510b3d46fd" name="模式" select="" refererUrl=""/>
				<data _id="3f08348a-97e4-11ea-823e-a0510b3d46fd" name="城市" select="" refererUrl=""/>
				<data _id="3f08348b-97e4-11ea-82de-a0510b3d46fd" name="规模" select="" refererUrl=""/>
				<data _id="3f08348c-97e4-11ea-bc79-a0510b3d46fd" name="资本" select="#gongshang  tr:nth-child(12) &gt; td:nth-child(2)" refererUrl=""/>
				<data _id="3f08348c-97e4-11ea-bc78-a0510b3d46fd" name="信息" select="#gongshang  .boxcontent .codl" refererUrl=""/>
				<data _id="3f08348d-97e4-11ea-8ba2-a0510b3d46fd" name="来源" select="" refererUrl=""/>
				<data _id="3f08348e-97e4-11ea-a0ad-a0510b3d46fd" name="_time" select="" refererUrl=""/>
			</dataCatch>
			<dataSave _id="3f08348f-97e4-11ea-ad9a-a0510b3d46fd">
				<file _id="3f083490-97e4-11ea-8d28-a0510b3d46fd" path="../../../Include/scripyData/顺企网2020-10-12.csv" encoding="ANSI"/>
			</dataSave>
		</website>
		<website exec="False" webName="招商100" start_url="http://search.zhaoshang100.com/scp-%E5%90%8A%E8%A3%85%E5%B8%A6/1" allowed_domains="zhaoshang100.com">
			<rules>
				<rule  follow="True" allow="http://search.zhaoshang100.com/scp-.*/\d" dont_filter='True'/>
				<rule  follow="False" allow="http://www.zhaoshang100.com/p\d+" callback="parse_item"/>
			</rules>
			<dataCatch testUrl="https://www.11467.com/jinan/co/159221.htm">
				<data  name="公司名" select="div.column_box.vip_big > div.column_xx > p > a" refererUrl=""/>
				<data  name="地址" select="#product-detail > div.fl-clr.mt_10.column_div > div.column_left > div.column_box.vip_big > ul > li:nth-child(5)::text" refererUrl=""/>
				<data  name="电话" select="#product-detail > div.fl-clr.mt_10.column_div > div.column_left > div.column_box.vip_big > ul > li:nth-child(2)::text" refererUrl=""/>
				<data  name="产品" select="#product-detail > div.fl-clr.mt_10.column_div > div.column_left > div.column_box.vip_big > ul > li:nth-child(4)::text" refererUrl=""/>
				<data  name="客户" select="#product-detail > div.fl-clr.mt_10.column_div > div.column_left > div.column_box.vip_big > ul > li:nth-child(1)::text" refererUrl=""/>
				<data  name="手机" select="#product-detail > div.fl-clr.mt_10.column_div > div.column_left > div.column_box.vip_big > ul > li:nth-child(3)::text" refererUrl=""/>
			</dataCatch>
			<dataSave>
				<file path="../../../Include/scripyData/招商100test.csv" encoding="ANSI"/>
			</dataSave>
		</website>
		<website exec="False" webName="慧聪网" start_url="['https://s.hc360.com/seller/search.html?kwd=%E5%90%8A%E8%A3%85%E5%B8%A6&amp;pnum=1&amp;ee=1']" allowed_domains="s.hc360.com">
			<rules >
<!--//s.hc360.com/seller/search.html?kwd=%E5%90%8A%E8%A3%85%E5%B8%A6&pnum=2&ee=2-->
				<rule  follow="True" allow="seller/search.html\?kwd=%E5%90%8A%E8%A3%85%E5%B8%A6&amp;pnum=\d+&amp;ee=\d+" callback="parse_item"/>
			</rules>
			<dataCatch testUrl="">
				<data  name="公司名" select=".newCname" refererUrl="" mode="mutiplate"/>
				<data  name="地址" select=".newBotBox" refererUrl="" mode="mutiplate"/>
			</dataCatch>
			<dataSave>
				<file  path="../../../Include/scripyData/慧聪网test.csv" encoding="ANSI"/>
			</dataSave>
		</website>
	</spiders>
</root>
